

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 35fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Space Empty Dense-as-An"
    "Video Image Press";
}

.Dense-as-An { grid-area: Dense-as-An; 
              writing-mode: vertical-rl;
            font-size: 80pt;}

.Empty { grid-area: Empty;
        writing-mode: vertical-rl;
        font-size: 80pt; }

.Space { grid-area: Space; 
        writing-mode: vertical-rl;
        font-size: 80pt;}


.Video { grid-area: Video; 

text-align: center;}

.Image { grid-area: Image; 
  text-align: center;}

.Press { grid-area: Press; 
  text-align: center;}






 
