

.vertical {
  border-left: 1px solid black;
  height: 600px;
  position:absolute;
  left: 33%;

}

.vertical2 {
  border-left: 2px solid black;
  height: 600px;
  position:absolute;
  right: 33%;

}

h1.dense {
  writing-mode: vertical-rl;
  position: absolute;
  width: 360px;
  height: 74px;
  left: 349px;
  top: 23px;


  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 74px;
  color: #000000;



}


.container { display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 30fr 1fr;
gap: 0px 0px;
grid-auto-flow: row;
grid-template-areas:
"Space Empty Dense-as-An"
"Video Image Press";}

.Dense-as-An { grid-area: Dense-as-An; 
writing-mode: vertical-rl;
font-size: 80pt;
}

.Empty { grid-area: Empty;
writing-mode: vertical-rl;
font-size: 80pt; }

.Space { grid-area: Space; 
writing-mode: vertical-rl;
font-size: 80pt;}}

}







@media (min-width: 825px) {
:root {
--body-copy: 19px;
--page-spacing: 20px;
line-height: 1.8;
margin-bottom: 20px;
max-width:825px;

--main-heading: calc(var(--body-copy) * 1)
}
}
.image-block {
display: flex;
flex-wrap: wrap;
flex-flow: column wrap;
text-align: left;
padding-bottom: 40px;
padding-top: 40px;
padding: 40px;
border: 1px solid black;
margin-bottom:20px;

}

.video-file-block {
display: flex;
flex-wrap: wrap;
flex-flow: column wrap;
text-align: left;
padding-bottom: 40px;
padding-top: 40px;
padding: 40px;
border: 1px solid black;
margin-bottom:20px;

}

.video-embed-block {
display: flex;
flex-wrap: wrap;
flex-flow: column wrap;
text-align: left;
padding-bottom: 40px;
padding-top: 40px;
padding: 40px;
border: 1px solid black;
margin-bottom:20px;

}

.link-block {
.
display: flex;
flex-wrap: wrap;
flex-flow: column wrap;
text-align: left;
padding-bottom: 40px;
padding-top: 40px;
padding: 40px;
border: 1px solid black;
margin-bottom:20px;



}
}







@media (max-width: 414px) {
.image-block { flex: 100%;}  
}

@media (min-width: 825px) {


:root .vertical.vertical2 {
--body-copy: 19px;
--page-spacing: 20px;
line-height: 1.8;
margin-bottom: 20px;
max-width:825px;
margin: auto;
--main-heading: calc(var(--body-copy) * 1)

}
}

body { padding: 2em;


}

a { color: black; }
em { font-style: italic; }
strong { font-weight: bold; }

body,
section,
ul,
figure {





}
}



}

.title {
font-size: 12pt;
font-family: Arial, Helvetica, sans-serif;

}


.image-block {
text-align: left;
font-size: 8pt;

align-items: left;
align-content: left;

}






.hide {
display: none;
}

.view:hover + .hide {
display: block;
padding-top: 20px;
padding-bottom: 20px;
}



.top {
--offset: 50px; 

position: sticky;
bottom: 20px;      
margin-right:10px; 
place-self:  ;
margin-top: calc(100vh + var(--offset));

text-decoration: none;
padding: 10px;
font-family: 'Source Serif Pro', serif;
text-decoration: black;
color:black;
background: white;
border-style: solid; 
border-color: black;
border-width: 0.5px;

white-space: nowrap;
}




