/* These styles are just to make it easier to see the blocks, initially. */

@media (min-width: 825px) {
    :root {
        --body-copy: 19px;
        --page-spacing: 20px;
        line-height: 1.8;
        margin-bottom: 20px;
        max-width:825px;
        
        --main-heading: calc(var(--body-copy) * 1)
    }
}
.image-block {
	display: flex;
	flex-wrap: wrap;
	flex-flow: column wrap;
	text-align: left;
	padding-bottom: 40px;
	padding-top: 40px;
	padding: 40px;
	border: 1px solid black;
	margin-bottom:20px;
	
	}




	


@media (max-width: 414px) {
		.image-block { flex: 100%;}  
	}
	
@media (min-width: 825px) {
	
		


		:root {
			--body-copy: 19px;
			--page-spacing: 20px;
			line-height: 1.8;
			margin-bottom: 20px;
			max-width:825px;
			margin: auto;
			--main-heading: calc(var(--body-copy) * 1)
		
		}
	}

body { padding: 2em;
	
	
}

a { color: blue; }
em { font-style: italic; }
strong { font-weight: bold; }

body,
section,
ul,
figure {
	
	



	  }
}


	
}

.title {
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;

}


.image-block {
text-align: left;
font-size: 8pt;

align-items: left;
align-content: left;

}



 


.hide {
	display: none;
  }
	  
  .view:hover + .hide {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
  }

  


