/* These styles are just to make it easier to see the blocks, initially. */

body { padding: 2em; }

a { color: blue; }
em { font-style: italic; }
strong { font-weight: bold; }

body,
section,
ul,
figure {
	display: grid;
	
	gap: 1em;

	grid-template-columns: repeat(1
	, 1fr);
}

.image-blocks {
text-align: left;
font-size: 8pt;
width: min-content;

}

  
}
